[submodule "thirdparty/gflags"]
	path = thirdparty/gflags
	url = https://github.com/gflags/gflags.git
[submodule "thirdparty/glog"]
	path = thirdparty/glog
	url = https://github.com/google/glog.git
[submodule "thirdparty/protobuf"]
	path = thirdparty/protobuf
	url = https://github.com/protocolbuffers/protobuf.git
[submodule "thirdparty/redis"]
	path = thirdparty/redis
	url = https://github.com/antirez/redis.git
[submodule "thirdparty/grpc"]
	path = thirdparty/grpc
	url = https://github.com/grpc/grpc.git
[submodule "thirdparty/boost"]
	path = thirdparty/boost
	url = https://github.com/boostorg/boost.git
[submodule "thirdparty/hiredis"]
	path = thirdparty/hiredis
	url = https://github.com/redis/hiredis
